* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f39c12;
  transition: color 0.3s ease;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

#cursos, #agregar-curso, #contacto {
  margin-bottom: 40px;
}

button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #f39c12;
  transition: background-color 0.3s ease;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
